.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "footer footer footer";
  }
  
  /* Створіть "Mobile First" media-запит, що перетворює макет іменованих областей з 2-х колонок на 1 колонку, при переході
 через контрольну точку 786px */

 @media (min-width: 786px) {
  .grid-container {
      grid-template-areas:
          'header header'
          'sidebar sidebar'
          'main main'
          'footer footer';
  }
}
 
  .header {
    grid-area: header;
  }
  
  .main {
    grid-area: main;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .footer {
    grid-area: footer;
  }