/*--primary-text-color: #000;
--primary-bg-color: #fff;
Визначити у області видимості footer змінні:

--footer-text-color: #fff;
--fuuter-bg-color: #000;   */
body {
primary-text-color: #000;
primary-bg-color: #fff;
footer-text-color: #fff;
fuuter-bg-color: #000;
}