h1,h2,h3 {
    color: gray;
}

.main {
    color: #e60202;
}

h2 {
    color: red;
}

.heading {
    color:green;
}

ul >li{
    font-weight: bold;
}

section > p {
    color: red;
}

section > p {
font-size: 22px;
}

body > h2 :first-of-type{
color:indigo
}

p .first a {
    font-size: 24px;
    text-decoration: none;
    font-style: italic;
}

div > p {
    color: salmon;
}

/* 
#000000
#0000ff
#00ff00
#ff0000
#ffffff
#e1ff00 

rgb(0, 0, 0);
rgb(0, 0, 255);
rgb(0, 255, 0);
rgb(255, 0, 0);
rgb(255, 255, 255);
rgb(225, 255, 0); 

hsl(0, 0%, 0%);
hsl(240, 100%, 50%);
hsl(120, 100%, 25%);
hsl(0, 100%, 50%);
hsl(0, 0%, 100%);
hsl(60, 100%, 50%);

rgb(0 0 0 / 1);
rgb(0 0 255 / 1);
rgb(0 255 0 / 1);
rgb(255 0 0 / 1);
rgb(255 255 255 / 1);
rgb(225 255 0 / 1); */

.translucent-box {
    background-color: hsl(0deg, 100%, 50%);
    }

    html {
    font-size: 100%;
    }

    body {
    font-size: 1.4rem;
    }

    h1 {
    font-size: 2.4rem;
    }