    div {
    font-size: 1em; /* 16px*/
    }

    span {
    font-size: 1.6em; /* 16px * 1.6 = 26px */
    }

    strong {
    font-size: 160%;
    }

    ul {
    list-style-type: square;
    }